<h2>Popularisimos  Films</h2>

   
 <div class="container d-flex flex-wrap">
     {{#each films}}
  
    <div class="card">
        <img class="card-img-top" src="{{posterurl}}" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{storyline}}
          </p>
      </div>
    </div>

  {{/each}}



 </div>

